@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$accent: #eec570;
$primary: #509df6;
$secondary: #86c1a4;
$fontPrimary: "Montserrat";
